* {
  margin; 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Mono', monospace;
  box-sizing: border-box;
}

.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.6),
  rgba(4,9,30,0.7)), url(images/OIP.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}


body{
  line-height: 1.5;

}
nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;

}
nav img {
  width: 150px;
  border-radius: 250px;
}
nav ul{
  display: inline-block;
  list-style: none;
}

.nav-links {
  flex: 1;
  text-align: right;
}
.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}
.nav-links ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 13px;

}

nav ul li button{
  font-size: 13px;
  color:white;
  outline: none;
  border:none;
  background: transparent;
  cursor: pointer;

}

.nav-links ul li::after{
  content:'';
  width: 0%;
  height: 2px;
  background: #f44336;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav-links ul li:hover::after{
  width: 100%;
}

.text-box{
  width: 90%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.text-box h1 {
  font-size: 62px;
}
.text-box p {
  margin: 10px 0 40px;
  font-size: 14px;
  color: #fff;
}
.hero-btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
}
.hero-btn:hover {
  border: 1px solid #f44336;
  background: #f44336;
  transition: 1s;
}

nav .fa {
  display: none;
}

@media(max-width: 700px){
  .text-box h1{
    font-size: 62px;
  }
  .nav-links ul li {
    display: block;
  }
  .nav-links {
    position: absolute;
    background: #f44336;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;

  }
  nav .fa {
    display: block;
    color: #fff;
    font-size: 22px;
    cursor: pointer;
  }
  .nav-links ul{
    padding: 30px;
  }
}

/*----Last models---*/
.model{
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}
h1{
  font-size: 36px;
  font-weight: 600;
}

p{
  color: #777;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}

.row{
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

.model-col{
  flex-basis: 31%;
  background: #fff3f;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;

}

h3{
  text-align: center;
  font-weight: 600;
  margin: 10px 0;

}

.model-col:hover{
   box-shadow: 0 0 20px 0px rgba(0,0,0,0.2)
}

@media(mac-width: 700px){
  .row{
    flew-direction: column;
  }
}

/*---Best Sellers ---*/

.seller{
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 50px;

}
.seller-col{
  flex-basis: 32%;
  bmorder-radius: 30px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;

}
.seller-col img{
  width: 100%;
  display: block;
}

.layer{
  background: rgba(226, 0, 0, 0.4);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}
.layer:hover{
  background:  rgba(226, 0, 0, 0.7);
}

.layer h3{
  width: 100%;
  font-weight: 500;
  color: #fff;
  font-size: 26px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  opacity: 0;
  transition: 0.5s;

}

.layer:hover h3{
  bottom: 49%;
  opacity: 1;

}
/* -----Car Parts ---*/

.carParts{
  width: 100%;
  margin: auto;
  text-align: center;
  padding-top: 100px;

}

carParts-col{
  flex-basis: 31%;
  border-radius: 10px;
  margin-bottom: : 5%:
  text-align: left;
}
carParts-col img{
  width: 100px;
  border-radius: 10px;

}

.carParts-col p{
  padding: 0;
}
.carParts-col h3{
  margin-top: 16px;
  margin-bottom: 15px;
  text-align: left;

}


/*-----login form---*/
.fa-duotone:fa-user{

}
#login-form{
  display: none;
}
.form-box{
  width: 380px;
  height: 480px;
  position:relative;
  margin: 2% auto;
  background: rgba(1,5,5,0.5);
  padding: 10px;
  overflow: hidden;
  margin: 6% auto;
}

.button-box{
  width: 220px
  margin: 35px auto;
  position: relative;
  box-shadow" 0 0 20px 9px #f44336;
  border-radius: 30px;
}

.toggle-btn{
  padding: 10px 30px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
}

#btn{
  top: 0;
  left: 0;
  position: absolute;
  width: 110px;
  height: 100%;
  background: #f44336;
  border-radius: 30px;
  transition: 0.5s;
}

.input-group-login{
  top: 150px;
  position: absolute;
  width: 280px;
  transition: 0.5s;
}

.input-group-register{
   top: 120px;
   position: absolute;
   width: 280px;
   transition: 0.5s;

}

.input-field{
  width: 100%;
  padding: 10px 0;
  margin: 5px 0;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid #f44336;
  outline: none;
  background: transparent;
}

.submit-btn{
  width: 85%;
  padding: 10px 30px;
  cursor: pointer;
  margin: auto;
  background: #f44336;
  border: 0;
  outline: none;
  border-radius: 30px;
}
.check-box{
  margin: 30px 10px 34px 0;
}

span{
  color: #777;
  font-size: 12px;
  bottom: 68px;
  position: absolute;

}

#login{
  left: 50px;
}

#login input{
  color:white;
  font-size: 15;
}

#register {
  left: 450px;
}
#register input{
  color:white;
  font-size: 15;
}
/*-----Footer----*/

.container{
  max-width: 1170px;
  margin: auto;
}
.row{
  display: flex;
  flex-wrap: wrap;
}

ul{
  list-style: none;

}
.footer{
  background-color: #24262b;
  padding: 30px 0;

}
.footer-col{
  width: 25%;
  padding: 30px;
}

.footer-col h4{
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position:relative;
}
.footer-col h4::before{
  content: '';
  position:absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}
.footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover{
   color: #ffffff;
   padding-left: 8px;
}
.footer-col .social-links a{
  display: inline-block;
  height: 40px;
  weight: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
  color: #24262b;
  background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media(max-width: 574px){
  .footer-col {
    width: 100%;

  }
}
